*,
*::after,
*::before {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}
p {
  opacity: 0.8;
}
h1,
h2,
h3 {
  opacity: 0.8;
  letter-spacing: 3px;
  padding: 5px;
}
a {
  text-decoration: none;
  color: #808080;
  transition: 0.3s all linear;
}
a:hover {
  transition: 0.3s all linear;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.box {
  border: 1px solid #808080;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}
.box h2 {
  text-align: center;
}
.first #accord h3 {
  border: 1px solid #808080;
  cursor: pointer;
  border-radius: 5px;
}
.first #accord h3:hover {
  background-color: #808080;
  color: #fff;
}
.first #accord div {
  background-color: #f7f7f7;
  border-radius: 5px;
}
.first #accord div p {
  font-size: 15px;
  line-height: 1.7;
  padding: 20px;
}
.second #tabs ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 15px;
}
.second #tabs ul li {
  border: 1px solid #f7f7f7;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
.second #tabs ul li a {
  opacity: 0.8;
  padding: 8px;
  display: block;
  border-radius: 5px 5px 0 0;
}
.second #tabs ul li a:hover {
  opacity: 1;
  background-color: #f7f7f7;
}
.second #tabs ul .ui-state-active a {
  background-color: #808080;
  color: #fff;
  pointer-events: none;
}
.second #tabs > div {
  border: 1px solid #808080;
  border-radius: 10px;
  padding: 20px;
}
.third #form #range-slider .ui-slider-handle {
  z-index: 1;
}
