*,
*::after,
*::before {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}
p {
  opacity: 0.8;
}
h1,
h2,
h3 {
  opacity: 0.8;
  letter-spacing: 3px;
  padding: 5px;
}
a {
  text-decoration: none;
  color: #808080;
  transition: 0.3s all linear;
}
a:hover {
  transition: 0.3s all linear;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.box {
  border: 1px solid #808080;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}
.box h2 {
  text-align: center;
}
